# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [26]:
# Your code goes here
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance = pd.read_csv(url)

url_2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
insurance_2 = pd.read_csv(url_2)

url_3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
insurance_3 = pd.read_csv(url_3)

insurance_n = pd.concat([insurance, insurance_2, insurance_3], axis=0).reset_index(drop=True)

insurance_n.columns = [col.replace(' ', "_").lower() for col in insurance_n.columns]
insurance_n.rename(columns= {'st': 'location'}, inplace=True)
display(insurance_n.head(3))

insurance_n['location'] = insurance_n['location'].apply(lambda x: 'Arizona' if x == 'AZ' else ('California' if x == 'Cali' else ('Washington' if x == 'WA' else x)))
insurance_n['education'] = insurance_n['education'].apply(lambda x: 'Bachelor' if x == 'Bachelors' else x)
insurance_n['customer_lifetime_value'] = insurance_n['customer_lifetime_value'].apply(lambda x: str(x).strip("%"))
insurance_n['vehicle_class'] = insurance_n['vehicle_class'].apply(lambda x: 'Luxury' if x == 'Sports Car' else ('Luxury' if x == 'Luxury SUV' else ('Luxury' if x == 'Luxury Car' else x)))
insurance_n['customer_lifetime_value'] = insurance_n['customer_lifetime_value'].astype(float)

insurance_n['customer'].fillna('UNKNOWN', inplace=True).
insurance_n['gender'].fillna('UNKNOWN', inplace=True)
insurance_n['location'].fillna('UNKNOWN', inplace=True)
insurance_n['education'].fillna('UNKNOWN', inplace=True)
insurance_n['customer_lifetime_value'].fillna(insurance_n['customer_lifetime_value'].mean(),inplace = True)
insurance_n['income'].fillna(insurance_n['income'].mean(),inplace = True)
insurance_n['monthly_premium_auto'].fillna(insurance_n['monthly_premium_auto'].mean(),inplace = True)

insurance_n['policy_type'].fillna('mode', inplace=True)
insurance_n['vehicle_class'].fillna('mode', inplace=True)
insurance_n['total_claim_amount'].fillna(insurance_n['total_claim_amount'].mean(),inplace = True)

insurance_n.duplicated(subset=['customer']).sum()
insurance_n.drop_duplicates(subset=["customer"], keep = "first", inplace=True)

insurance_n.duplicated().sum()
insurance_n.reset_index(drop=True, inplace=True)
insurance_n.columns.unique()


#insurance_n['gender'] = insurance_n['gender'].map({'female':'female', 'male':'male','F': 'female', 'Femal':'female', 'M':'male', 'Male':'male'})
#insurance_n["number_of_open_complaints"]= insurance_n["number_of_open_complaints"].dropna().apply(lambda row: str(row).split("/")[1])
#insurance_n['number_of_open_complaints'] = insurance_n['number_of_open_complaints'].astype(float)
#insurance_n['number_of_open_complaints'].fillna(insurance_n['number_of_open_complaints'].mean(),inplace = True)
#insurance_n[['customer_lifetime_value', 'income', 'monthly_premium_auto','number_of_open_complaints', 'total_claim_amount']] = insurance_n[['customer_lifetime_value', 'income', 'monthly_premium_auto','number_of_open_complaints', 'total_claim_amount']].astype(int)

SyntaxError: invalid syntax (2460740297.py, line 25)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [33]:
# Your code goes here
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
mkt = pd.read_csv(url)
print(mkt.shape)
display(mkt.head(5))
mkt.isnull().sum()

(10910, 27)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [71]:
counts = mkt['sales_channel'].value_counts()
#pivot_mkt = pd.pivot_table(mkt, index='sales_channel', columns= 'sales_channel', values=['customer_lifetime_value'], aggfunc='sum')


pivot_mkt = pd.pivot_table(mkt, values='customer_lifetime_value', index='sales_channel', aggfunc='sum')
pivot_mkt = pivot_mkt['customer_lifetime_value'].round(2)
display(pivot_mkt)
# The Sales Channel that brought more revenue to the company was the Agent, meaning thatit's a strategy that still work, specially if together with the other channels. All the effort made by the other channels make it possible to the agents to close more deals, since the marketing positioning of the company is well stablished.

sales_channel
Agent          33057887.85
Branch         24359201.21
Call Center    17364288.37
Web            12697632.90
Name: customer_lifetime_value, dtype: float64

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [78]:
pivot_education = pd.pivot_table(mkt, values='customer_lifetime_value', index=['gender', 'education'], aggfunc='mean')
pivot_education

                             customer_lifetime_value
gender education
F      Bachelor                          7874.269478
       College                           7748.823325
       Doctor                            7328.508916
       High School or Below              8675.220201
       Master                            8157.053154
M      Bachelor                          7703.601675
       College                           8052.459288
       Doctor                            7415.333638
       High School or Below              8149.687783
       Master                            8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here